body{
  padding: 0px;
  margin: 0px;
}
.clearfix{
  clear:both;
}
.left{
  background: #444;
  float: left;
  width: 25%;
  min-height: 100vh;
  color:#fff;
}
.right{
  float: left;
  width: 75%;
}
.left a{
  padding: 10px 0px;
  text-align: center;
  display: block;
  color: #fff !important;
  border-top: 1px solid #222;
  border-bottom: 1px solid #444;
}
.News_form{
  width: 80%;
  margin: 10px 5%;
}
.News_btn{
  float:right;
  margin-right: 10%;
}
